@model QuestionBankApp.Models.Question_Table1

@{
    ViewBag.Title = "Add";
    var data= ViewBag.SubjectType as List<SelectListItem>;
}

<div>
<h2 style="text-align:center;color:indianred">Add Question</h2>
</div>
<div class="container">
    @using (Html.BeginForm())
    {  
        <div class="row">
            <label>Enter the Question</label><br />
            @Html.EditorFor(m => m.Question)<br />
            <label>Enter the Keyword of questions</label>
            @Html.EditorFor(m => m.Keyword)<br />
            <label>Enter the Subject Type</label>
            @Html.DropDownListFor(m => m.SubjectType,data)<br />
            <label>Enter the Option1</label><br />
            @Html.EditorFor(m => m.Option1)<br />
            <label>Enter the Option1</label><br />
            @Html.EditorFor(m => m.Option2)<br />
            <label>Enter the Option1</label><br />
            @Html.EditorFor(m => m.Option3)<br />
            <label>Enter the Option1</label><br />
            @Html.EditorFor(m => m.Option4)<br />
            <button class="btn btn-primary mt-3">Add Questions</button>
        </div>
    }
</div>
